<p style="color: green"><%= notice %></p>
<p style="color: red"><%= alert %></p>

<h1>Sections</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Subject</th>
      <th>Teacher</th>
      <th>Class</th>
      <th>Time</th>
      <th colspan="4">Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @sections.find_each do |section| %>
      <tr>
        <td><%= section.name %></td>
        <td><%= section.subject.name %></td>
        <td><%= section.teacher.full_name %></td>
        <td><%= section.class_room.name %></td>
        <td>
          <% @available_times_hash[section.id].each do |available_time| %>
            <%= available_time.day %> (<%= formatted_time available_time.start_time %> - <%= formatted_time available_time.end_time %>)
          <% end %>
        </td>
        <td><%= link_to 'Show', section %></td>
        <td><%= link_to 'Edit', edit_section_path(section) %></td>
        <td><%= link_to 'Destroy', section, method: :delete, data: { confirm: 'Are you sure?' } %></td>

        <% if @student.sections.include?(section) %>
          <td><%= link_to 'Remove from Schedule', remove_section_students_path(section_id: section), method: :delete %></td>
        <% else %>
          <td><%= link_to 'Add to Schedule', add_section_students_path(section_id: section), method: :post %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New section', new_section_path %>
